*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}

#password{
    width: 500px;
    padding: 18px;
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: antiquewhite;
}
#password:focus{
    outline: none;
}